/*!
 *  Theme		     : Portfolio
 *  Version      : 1.0
 *
 *	Resume styles:
 *
 *	1.	GLOBAL STYLES
 *
 *	2.	LAYOUT DESIGN
 *		  2.1	WRAPPER ASIDE / Left
 *		  2.2	WRAPPER SECTION / Right
 *
 *	3.	SECTIONS
 *		  3.1	SECTION // ABOUT ME
 *		  3.2	SECTION // EXPERIENCE AND EDUCATION
 *		  3.3	SECTION // SKILLS
 *
 *	4.	LAYOUT HEIGHT 100%
 *
 */


/*!
 **********************************************************
 *
 *	1.	GLOBAL STYLES
 *		  Defaults HTML and overrides styles Bootstrap
 *
 **********************************************************
 */
 @import url(http://fonts.googleapis.com/css?family=Monoton);
 @import url(http://fonts.googleapis.com/css?family=Source+Code+Pro);
 @import url(http://fonts.googleapis.com/css?family=Ubuntu+Condensed);
 @import url(http://fonts.googleapis.com/css?family=Oswald);  /*google font : font-family: 'Oswald', sans-serif;*/
 @import url(http://fonts.googleapis.com/css?family=Raleway:100); /*font-family: 'Raleway', sans-serif;*/
 @import url(https://fonts.googleapis.com/css?family=Lobster);/* font-family: 'Lobster', cursive;, cursive;*/

body {
  background-color: #eeeeee;
  color: #333333;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 24px;
}
p {
  text-align: justify;
}
a {
  text-decoration: none;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
a:hover,
a:focus {
  color: #262b37;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  margin: 0;
  margin-left: -1px;
  padding: 0;
  text-transform: uppercase;
}
.text-primary {
  color: #262b37;
}
.text-secondary {
  color: #00a69a;
}
.btn {
  border-radius: 0;
}
.btn.btn-default {
  background-color: inherit;
border-color: red;
font-family: "PS Savoy","Lora","Georgia","Times New Roman",serif;
color: #000;
border-width: 3px;
}
.btn.btn-default:hover,
.btn.btn-default:active,
.btn.btn-default:hover {
  background-color: inherit;
  border-color: #00a69a;
  color: #00a69a;
}
/*!
 **********************************************************
 *
 *	2.	LAYOUT DESIGN
 *		  2.1 WRAPPER ASIDE / Left
 *			//	header
 *				  //	img ->	Photo
 *				  //	h1	->	Nombre
 *				  //	h2 	->	Description
 *
 *			//	nav
 *				  //	li a -> Social links
 *
 *			//	footer
 *				  //	JoseManunta @ 2016
 *
 *		  2.2 WRAPPER SECTION / Right
 *			    //	WRAPPER PADDING
 *			    //	MARGIN BOTTOM
 *			    //	FOOTER SIGNATURE ONLY MOVIL
 *
 **********************************************************
 */
.wrapper-aside {
  background-color: #262b37;
  color: #333333;
}
.wrapper-aside header {
  margin: 35px 0;
  text-align: center;
}
.wrapper-aside header > article {
  margin: auto;
  max-width: 180px;
}
.wrapper-aside header > article > img {
  border: 3px solid rgba(255, 255, 255, 0.4);
}
.wrapper-aside header h1 {
  font-family: 'Oswald', sans-serif;
    font-size: 3em;
    font-weight: 600;
    color: #fff;
    padding: 0;
    text-shadow: 0px 3px 1px #000;
}
.wrapper-aside header h2 {
  font-family: 'Raleway', sans-serif;
    font-size: 1.7em;
    font-weight: 600;
    color: #ccc;
  margin-top: 20px;
  position: relative;
  z-index : 1;
}

.wrapper-aside nav {
  padding-bottom: 30px;
}
.wrapper-aside nav .pager {
  padding: 0;
  margin: 0;
  margin-bottom: 6px;
}
.wrapper-aside nav .pager a,
.wrapper-aside nav .pager a:focus {
  background-color: darkslategrey;
  border-radius: 22.5px;
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.9);
  color: #eeeeee;
  font-size: 18px;
  height: 45px;
  line-height: 45px;
  padding: 0;
  width: 45px;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.wrapper-aside nav .pager a:hover,
.wrapper-aside nav .pager a:focus:hover {
  background-color: #262b37;
  text-shadow: none;
}
.wrapper-aside footer {
  bottom: 8px;
  font-size: 13px;
  font-weight: 400;
  position: absolute;
  text-align: center;
  width: 100%;
  margin-left: -15px;
  margin-right: -15px;
  color: #ccc;
}
.wrapper-section {
  background-color: #fff;
  color: #262b37;
}
.wrapper-section .wrapper-padding {
  padding-top: 45.5px;
  padding-left: 35px;
  padding-right: 35px;
}
@media (max-width: 768px) {
  .wrapper-section .wrapper-padding {
    padding-left: 14px;
    padding-right: 14px;
  }
}
.wrapper-section .wrapper-padding section .margin-bottom {
  margin-bottom: 30px;
}
.wrapper-section .wrapper-padding section.margin-bottom {
  margin-bottom: 60px;
}
.wrapper-section .wrapper-padding section h2 {
  font-family: "PS Savoy","Lora","Georgia","Times New Roman",serif;
color: #000;
line-height: 48px;
margin-top: 5px;
display: block;
border-left: 5px solid red;
padding-left: 10px;
}
.wrapper-section footer#signature-footer {
  color: #eeeeee;
  padding-bottom: 35px;
  text-shadow: 0 -2px rgba(0, 0, 0, 0.7);
}
/*!
 **********************************************************
 *
 *	3.	SECTIONS
 *		  3.1	SECTION // ABOUT ME
 *		  3.2	SECTION // SKILLS
 *		  3.3	SECTION // EXPERIENCE AND EDUCATION
 *
 **********************************************************
 */
section#about-me .media {
  margin-bottom: 20px;
}
section#about-me .media span {
  background-color: inherit;
  border-radius: 14px;
  border: 1px solid #00a69a;
  color: #00a69a;
  display: block;
  font-size: 12px;
  height: 28px;
  line-height: 26px;
  text-align: center;
  width: 28px;
}
@media (max-width: 1200px) {
  section#about-me .media span {
    margin: auto;
  }
}
section#about-me .media .media-body {
  line-height: 28px;
}

/*!
 **********************************************************
 *
 *	4.	LAYOUT HEIGHT 100%
 *
 **********************************************************
 */
html,
body {
  height: 100%;
}
.wrapper {
  height: 100%;
  margin-left: 0;
  margin-right: 0;
}
.wrapper:before,
.wrapper:after {
  content: "";
  display: table;
}
.wrapper:after {
  clear: both;
}
.wrapper > .box {
  bottom: 0;
  /* increase for footer use */
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  background-size: cover;
  background-attachment: fixed;
}
.wrapper > .box > .row {
  height: 100%;
  margin-left: 0;
  margin-right: 0;
}
.wrapper > .box > .row > .column {
  height: 100%;
  overflow: auto;
  *zoom: 1;
}
.wrapper > .box > .row > .column:before,
.wrapper > .box > .row > .column:after {
  content: "";
  display: table;
}
.wrapper > .box > .row > .column:after {
  clear: both;
}
.wrapper > .box > .row > .column.wrapper-section .col-sm-9.full {
  width: calc(100% + 30px);
  margin-left: -15px;
  margin-right: -15px;
}
.wrapper > .box > .row > .column.wrapper-section .col-sm-9.full .padding {
  margin-left: -15px;
  margin-right: -15px;
}
@media (max-width: 767px) {
  .wrapper > .box > .row > .column {
    height: auto;
  }
}


.popStyleText
{
  font-family: "PS Savoy","Lora","Georgia","Times New Roman",serif;
    line-height: 28px;
    font-size: 18px;
}
