@import url(http://fonts.googleapis.com/css?family=Monoton);
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro);
@import url(http://fonts.googleapis.com/css?family=Ubuntu+Condensed);
@import url(http://fonts.googleapis.com/css?family=Oswald);  /*google font : font-family: 'Oswald', sans-serif;*/
@import url(http://fonts.googleapis.com/css?family=Raleway:100); /*font-family: 'Raleway', sans-serif;*/
@import url(https://fonts.googleapis.com/css?family=Lobster);/* font-family: 'Lobster', cursive;, cursive;*/
/*----------SECTION FOR SPECIAL ICONS----------*/
@font-face {
  font-family: 'icon';
  src: url('../font/icomoon.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
       url('../font/icomoon.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚Â ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¾Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚Â¦ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â¦ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â5 */
}
.icon-home:after {
	font-family: 'icon';
	speak: none;
	content: "\e600  ";
}
.icon-about:after {
	font-family: 'icon';
	speak: none;
	content: "\e675  ";

}
.icon-file:after {
	font-family: 'icon';
	speak: none;
	content: "\e622  ";
	color: mediumseagreen;
    text-shadow: 0px 0px 0px #000;
}
.icon-cool:after {
	font-family: 'icon';
	speak: none;
	content: "\e6e2  ";
}
.icon-gallery:before {
font-family: 'icon';
	speak: none;
	content: "\e60e  ";
}
.icon-buy:before {
font-family: 'icon';
	speak: none;
	content: "\e638  ";
}
.icon-contact:before {
font-family: 'icon';
	speak: none;
	content: "\e63c  ";
}
.icon-facebook:before {
font-family: 'icon';
	speak: none;
	content: "\e769  ";
}
.icon-twitter:before {
font-family: 'icon';
	speak: none;
	content: "\e76d  ";
}
.icon-linkedin:after {
	font-family: 'icon';
	speak: none;
	content: "\e79f  ";
	color: #4875B4;
}
.icon-plus:before {
	font-family: 'icon';
	speak: none;
	content: "\e702  ";
	color: #4875B4;
}
.icon-arrow-right3:after
{
	font-family: 'icon';
	speak: none;
	content: "\e732  ";
	color:#ffffff;
	font-size:2.5em;
}
.icon-arrow-down3:after
{
	font-family: 'icon';
	speak: none;
	content: "\e734  ";
	color:#ffffff;
	/*font-size:2.5em;*/
}
.icon-code:after
{
	font-family: 'icon';
	speak: none;
	content: "\e75c  ";
	color:#ffffff;
}
.icon-trophy:after
{
	font-family: 'icon';
	speak: none;
	content: "\e69a  ";
	color:#ffffff;
}
.icon-share:after
{
	font-family: 'icon';
	speak: none;
	content: "\e75e  ";
	color:#ffffff;
}
.icon-console:after
{
	font-family: 'icon';
	speak: none;
	content: "\e75d  ";
	color:#ffffff;
}
/*----------END SECTION FOR SPECIAL ICONS----------*/
/*-------------MAIN HTML TAGS--------------*/
html,body{height:100%;}
header
{
	margin: 0 auto;
	z-index: 1000;
	display: block;
	position: relative;
}
body
{
	-webkit-font-smoothing: antialiased;
}
/*-------------END MAIN HTML TAGS--------------*/
#page-caption
{
	/*padding-top: 120px;*/
}
@media screen and (max-height: 768px)
	{
		#page-caption
		{
    		padding-top: 20px;
		}
	}
/*-------------Navigation ID-----------------*/
#navigation
{
	position: relative;
    width: 100%;
    background: transparent;
}
#top-left-title
{
	border-bottom: 1px solid red;
    font-family: 'Raleway', sans-serif;
    font-size: 2em;
    font-weight: 600;
    color: #fff;
    text-shadow: 0px 3px 1px #000;
}
#top-right-linkedIn
{
	font-size: 3em;
    text-shadow: 0px 3px 1px #000;
    margin: 0;
}
/*---------end navigation ID---------------------*/
/*---------------transition 1 -----------------------------*/
#header_and_wrapper_footer ul#footer_left
{
	margin:none;
	padding:none;
	display:inline-block;
}
#header_and_wrapper_footer #footer_left .toptext
{
	list-style-type:none;
}
#header_and_wrapper_footer #footer_left .toptext a
{
	font-family: 'Oswald', sans-serif;
	font-size:2em;
	font-weight:600;
	color:#fff;
}
#header_and_wrapper_footer #footer_left .bottomtext
{
	list-style-type:none;
	background:red;
	display: inline-table;
}
#header_and_wrapper_footer #footer_left .bottomtext a
{
	font-family: verdana;
	font-size: 1.5em;
	font-weight:600;
	color:#fff;
}
#header_and_wrapper_footer #footer_right
{
    display: inline-block;
    margin: 1em;
    padding: 0;
}
#header_and_wrapper_footer #footer_right ul
{
	margin:none;
	padding:none;
}
#header_and_wrapper_footer #footer_right .toptext
{
	list-style-type:none;

}
#header_and_wrapper_footer #footer_right .toptext a
{
	font-family: 'Oswald', sans-serif;
	font-size:2em;
	font-weight:600;
	color:#fff;
}
#header_and_wrapper_footer #footer_right .bottomtext
{
	list-style-type:none;
	background:red;
	display: inline-table;
}
#header_and_wrapper_footer #footer_right .bottomtext a
{
	font-family: verdana;
	font-size: 1.5em;
	font-weight:600;
	color:#fff;
}
#header_and_wrapper_footer #animated_footer
{
    display: inline-block;
    margin: 1em;
    padding: 0;
    float: right;
}
#header_and_wrapper_footer #animated_footer li
{
	list-style-type:none;

}
#header_and_wrapper_footer #animated_footer li a
{
	font-family: 'Raleway', sans-serif;
	font-size:4em;
	font-weight:600;
	color: #000;
	-webkit-animation-duration: 4s;
  -webkit-animation-iteration-count: 1;
  animation-duration: 3s;
  animation-delay: 2s;
  animation-iteration-count: 1;
	background: yellow;
}
#transition1-content
{
	width: 100%;
    position: absolute;
    bottom: 0;
}
/*---------------------END transition 1 -------------------------*/
/*-----------tit-head and tit-text used for the title with subtext button---*/
#tit-qou
{
	margin-bottom:40px;
}
.small-title
{
	background: transparent;
    color: white;
    border: 2px solid #fff;
    border-radius: 5px;
    font-size: 2em;
    padding-left: 1em;
    padding-right: 1em;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: 2;
  animation-duration: 2s;
animation-iteration-count: 2;
}
.tit-head
{
	font-family: 'Oswald', sans-serif;
    font-size: 3em;
    font-weight: 600;
    color: #fff;
    padding: 0;
	-webkit-animation: intSmallTitleHead 2s; /* Chrome, Safari, Opera */
    animation: intSmallTitleHead 2s;
    margin-top: 0;
}
.tit-text
{
	padding: 0;
    font-size: 1em;
    margin-bottom: 0;
}
.small-title:hover
{
	background:#ffffff;
}
.small-title:hover > .tit-head
{
	color:#000000;
	text-shadow: 0px 3px 20px red;
}
.small-title:hover > .tit-text
{
	color:red;
}
@-moz-keyframes intSmallTitleHead {
    0% {
        color:#000000;
		text-shadow: 0px 3px 20px red;
    }
    100% {

    	color: #fff;
    }
}
@-webkit-keyframes intSmallTitleHead {
    0% {
        color:#000000;
		text-shadow: 0px 3px 20px red;
    }
    100% {

    	color: #fff;
    }
}
@keyframes intSmallTitleHead {
    0% {
        color:#000000;
		text-shadow: 0px 3px 20px red;
    }
    100% {

    	color: #fff;
    }
}
/*----------END tit-head and tit-text used for the title with subtext button---*/
/*------caption class------*/
.caption h1
{
	font-family: 'Oswald', sans-serif;
    font-size: 4em;
    font-weight: 600;
    color: #fff;
    padding: 0;
	text-shadow: 0px 3px 1px #000;
}
.caption span
{
	font-size: 2em;
    color: #fff;
	text-shadow: 0px 3px 1px #000;
}
/*-------END caption class----*/
/*------ABOUT ME grid style class-------*/
.grid
{
	padding:0;
	overflow:hidden;
}
.grid a img {
    max-width: 100%;
    opacity: 1;
    -webkit-transition: all 7s;
    -moz-transition: all 7s;
    transition: all 7s;
}
.grid:hover a img
{
	transform:scale(1.2);
    -ms-transform:scale(1.2); /* IE 9 */
    -moz-transform:scale(1.2); /* Firefox */
    -webkit-transform:scale(1.2); /* Safari and Chrome */
    -o-transform:scale(1.2); /* Opera */
}
.grid h1
{
	font-family: 'Oswald', sans-serif;
    font-size: 3em;
    font-weight: 600;
    color: #fff;
    padding: 0;
    text-shadow: 0px 3px 1px #000;
	margin:0;
}
.grid p
{
	font-family: 'Raleway', sans-serif;
    font-size: 1em;
    font-weight: 600;
    color: #ccc;
	padding-top:20px;
}
.grid .icon-arrow-down3
{
	font-size:2.5em;
}
@media screen and (min-width:1280px)
{
	.grid p
	{
		font-size: 1.5em;
	}
	.grid .icon-arrow-down3
	{
		font-size:3.5em;
	}
}
.grid-text-container
{
	position: absolute;
    left: 10%;
    top: 10%;
    right: 10%;
    color: #fff;
}
#resume-btn-div
{
	top:30%;
}
#resume-h1
{
	font-size:2.5em;
	padding-top: 10px;
    padding-bottom: 10px;
	text-shadow:0px 0px 0px #000;
	color:gray;
}
.grid-link-arrows-pos
{
	position: absolute;
    right: 7%;
    bottom: 0;
}
#lblAidic
{
	color: #fff;
    font-family: 'Oswald', sans-serif;
    font-size: 4em;
    background-color: red;
	opacity:.7;
}
@media screen and (min-width: 1280px) {
	#lblAidic
	{
		font-size: 6em;
	}
}
@media screen and (min-width: 1600px) {
	#lblAidic
	{
		font-size: 7em;
	}
}
@media screen and (max-width: 766px) {
	#lblAidic
	{
		font-size: 7em;
	}
}
@media screen and (max-width: 480px) {
	#lblAidic
	{
		font-size: 5.5em;
	}

}
#about_me
{
	position:relative;
}
#about_me_cover
{
	position:absolute;
	width:100%;
	height:100%;
	background:black;
	top:0;
	left:0;
	opacity:.87;
}
#about_me_cover_header
{
	position:absolute;
	top:30%;
	left:0;
	width:100%;

}
#about_me_cover_header h1
{
	color:#ffffff;
	font-size: 7em;
    text-shadow: 0px 5px 5px red;
	cursor:pointer;
}
@media screen and (max-width:768px)
{
	#about_me_cover
	{
		display:none;
	}
	#about_me_cover_header h1
	{
		display:none;
	}
}
/*------END ABOUT ME grid style class-------*/
/*----------START MY SITES SECTION------------*/
#my_sites
{
	position:relative;
  background: #9cb8b3;
}

#my_sites .my_sites_title span, span:after {
    font-weight: 900;
    color: #efedce;
    white-space: nowrap;
    display: inline-block;
    position: relative;
    letter-spacing: .1em;
    padding: .2em 0 .25em 0;
}

#my_sites .my_sites_title span {
    font-size: 5em;
    z-index: 100;
    text-shadow: .04em .04em 0 #9cb8b3;
}
@media screen and (max-width: 480px) {
	#my_sites .my_sites_title span
	{
    font-size: 3em;
    z-index: 100;
    text-shadow: .04em .04em 0 #9cb8b3;
	}
}

#my_sites .my_sites_title span:after {
    content: attr(data-shadow-text);
    color: rgba(0,0,0,.35);
    text-shadow: none;
    position: absolute;
    left: .0875em;
    top: .0875em;
    z-index: -1;
    -webkit-mask-image: url(http://f.cl.ly/items/1t1C0W3y040g1J172r3h/mask.png);
}

#my_sites .itemGrid .itemTitle a{
	text-decoration: none;
	    display: inline-block;
}

#my_sites .itemGrid .itemTitle h5{
	font-family: 'Lobster', cursive;
    background-color: yellow;
    padding: 0 15px;
	color:#000;
	font-size:2em;
}
#my_sites .itemGrid .itemDesc p{
	font-family: Ubuntu Condensed;
    font-size: 1.5em;
    margin: 0;
    color: #000;
}

#my_sites .carousel-control.right,
.carousel-control.left {
  background-image: none !important;
  color: #f4511e !important;
}

#my_sites #myCarousel .carousel-inner{
	padding-bottom:100px;
}

.my_sites_title
{
	padding-left: 1.5em;
}
/*----------END MY SITES SECTION--------------*/

#header_and_wrapper
{
	position:relative;
	overflow: hidden;
	background: url('../images/mug1.jpg') no-repeat center center scroll;
	min-height:100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.my_work
{
	max-width:1200px;
	margin:0 auto;
}
.my_work .my_work_img
{
	display: inline-block;
	max-width: 300px;
	width:25%;
}
.my_work .my_work_img img
{
	width: 100%;
}
.my_work .title_desc
{
	display: inline-block;
	width:70%;
	max-width: 800px;
	vertical-align:top;
}
.my_work .title
{

}
.my_work .title a
{
  text-decoration:none;
}
.my_work .title a h5
{
	font-family: Ubuntu Condensed;
  font-size: 2em;
	margin: 0;
	color: #000;
	border-bottom: 1px solid #cccccc;
	padding: .1em;
	padding-top: 0;
	font-weight:100;
}
.my_work .desc p
{
	font-family: verdana;
}
@media screen and (max-width: 600px) {
    body {

    }
	#header_and_wrapper_footer #animated_footer li a
	{
		font-family: 'Raleway', sans-serif;
		font-size: 3em;
		font-weight: 600;
		color: #000;
		-webkit-animation-duration: 4s;
		-webkit-animation-iteration-count: 1;
		animation-duration: 3s;
		animation-delay: 2s;
		animation-iteration-count: 1;
		background: yellow;
	}
	#page-caption
	{
		padding-top:20px;
	}
	#footer1
	{
		display:none;
	}
}
/*----------------SKILLS ID SECTION--------------------------------------*/
#skills
{
	background: url('../images/studio4.jpg') center center scroll;
}
#skills div
{
	margin-top:1em;
	margin-bottom:1em;
}
#skills h2
{
	text-align:center;
	font-family: Ubuntu Condensed;
    font-size: 3em;
    margin-top: 1em;
    color: #fff;
    padding: .1em;
    padding-top: 0;
    font-weight: 100;
	text-shadow: 0px 0px 15px #000;
}
#skills span
{
	display:block;
	text-align:center;
	font-family: Ubuntu Condensed;
    font-size: 3em !important;
    margin: 0;
    color: #fff;
    padding: .1em;
    padding-top: 0;
    font-weight: 100;
	text-shadow: 0px 0px 15px #000;
}
#skills p
{
	display:block;
	text-align:center;
	font-family: Ubuntu Condensed;
    font-size: 2.5em;
    color: #fff;
    padding: .1em;
    padding-top: 0;
    font-weight: 100;
	text-shadow: 0px 0px 15px #000;
}
#skills a
{
	text-decoration:none;
	text-align:center;
    margin-top: 1em;
    padding-top: 0;
    font-weight: 100;
}
/*--------------------END SKILLS ID SECTION----------------------------------*/
/*--------------HELPER CLASSESS AND SHIT---------------------------------------------*/
.btn-clear   /* this will be styling for a transparent and white text btn*/
{
	background: transparent;
    color: white;
    border: 2px solid #fff;
    border-radius: 5px;
    font-size: 2em;
    padding-left: 2em;
    padding-right: 2em;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}
.btn-clear:hover
{
	background:#fff;
	color:#000;
}
.navbar-custom-uno
{
	position: relative;
    width: 100%;
    background: transparent;
}
.cursive {
    font-family: 'Lobster', cursive;
}
.line-separator
{
	height:1.5px;
background:#717171;
width: 304px;
	    margin: 0 auto;
}
.top-bottom-padding { padding-top:40px; padding-bottom: 40px; }
.no-space{padding:0 !important; overflow: hidden !important;}
.bg-midnight
{eamview
  background: -webkit-linear-gradient(90deg, #232526 10%, #414345 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #232526 10%, #414345 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #232526 10%, #414345 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #232526 10%, #414345 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #232526 10%, #414345 90%); /* W3C */

}
.bg-lightblue
{
	background: #ADD8E6;
}
.bg-gray
{
	background: #3f3f3f;
}
.color-gray
{
	color: #3f3f3f !important;
}
.revealOnScroll
{
	opacity:0;
}
/*--------------END HELPER CLASSESS AND SHIT---------------------------------------------*/
